In [2]:
import os
import pandas as pd

## Extracted Data

In [ ]:
folder_path = r"HomePage"
file_names = [os.path.splitext(f)[0] for f in os.listdir(folder_path) if os.path.isfile(os.path.join(folder_path, f))]

df1 = pd.DataFrame(file_names, columns=['File Name'])

In [30]:
df1.head()

     File Name
0     0 048 71
1  1-1423162-0
2  1-1423162-2
3  1-1423162-5
4  1-1423162-8

## Given TSV Files

In [ ]:
folder_path = r"Data"

df_list = []

for file_name in os.listdir(folder_path):
    if file_name.endswith('.tsv'):
        file_path = os.path.join(folder_path, file_name)
        df2_2 = pd.read_csv(file_path, sep='\t', header=None, names=['Product Name'])
        df_list.append(df2_2)

df2 = pd.concat(df_list, ignore_index=True)

In [37]:
df2.head()

  Product Name
0  1-1618279-2
1  1-1618400-5
2  1-1622406-0
3  1-1622820-3
4  1-1622820-9

## Check same files

In [38]:
df1['File Name'] = df1['File Name'].str.lower()
df2['Product Name'] = df2['Product Name'].str.lower()

# Create df3 by selecting the 'Product Name' from df2 that do not exist in 'File Name' of df1
df3 = df2[~df2['Product Name'].isin(df1['File Name'])]

In [39]:
df3.head()

    Product Name
20   1-1623732-2
186  1-1630024-4
189  1-1630027-1
191  1-1630027-7
193  1-1630186-3

In [40]:
df3.shape

(196, 1)

In [ ]:
df3.to_csv(r'remaining_data.tsv', sep='\t', index=False, header=False)

## Store Extracted Products TSV List

In [ ]:
folder_path = r'HomePage'

if not os.path.exists(folder_path):
    print(f"Folder {folder_path} does not exist.")
    exit(1)

file_names = os.listdir(folder_path)
df_files = pd.DataFrame(file_names, columns=["File Name"])

df_files['File Name'] = df_files['File Name'].str.replace('.html', '', regex=False)

In [4]:
df_files.head()

    File Name
0    0 048 71
1  2-146140-4
2  2-146274-0
3  2-146285-8
4  2-146462-2

In [5]:
df_files.shape

(22877, 1)

In [ ]:
df_files.to_csv(r'chunk3-products-list.tsv', sep='\t', index=False, header=False)