In [1]:
import pandas as pd
import os

In [ ]:
folder_path = r'data'

df_list = []

for file_name in os.listdir(folder_path):
    if file_name.endswith('.tsv'):
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path, sep='\t', header=None)
        df_list.append(df)

combined_df = pd.concat(df_list, ignore_index=True)
combined_df.columns = ['File Name']

In [4]:
combined_df.shape

(716, 1)

In [5]:
combined_df.head()

    File Name
0  2EHDRC-16P
1     2L28026
2  3-102084-0
3  3-102978-2
4  3-103186-8

In [ ]:
combined_df.to_csv(r'remaining_data.tsv', sep='\t', header=None, index=None)